.page {
  width: 100vw;
  height: 100vh;
  margin: 55rem 0 20rem 0;
  display: flex;

  .researchContainer {
    width: 25rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 20rem;
      height: 3rem;
      background: aqua;
      padding: 2rem;
      border-radius: 1rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .researchsection {
      width: 20rem;
      height: 25rem;
      border: 2px solid #000;
      border-radius: 10px;
      margin-top: 1rem;
      padding: 22rem 0 4rem 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      // background-position-y: top;
      // animation: move 5s infinite;
      overflow-y: scroll;
      scroll-behavior: smooth;

      > a {
        width: 20rem;
        height: 3rem;
        padding: 1rem;
      }
    }
  }

  .teacherprofile {
    width: 70rem;
    height: 70rem;
    .link {
      width: 17rem;
      height: 17rem;
      .faculties {
        width: 17rem;
        height: 17rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // padding: 5rem;

        > .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
          width: 250px;
          height: 200px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          padding: 30px 50px;
          background-color: #f8dede;
          transition: 1s;

          &:hover {
            height: 250px;
          }
          &:hover > .image > h2 {
            opacity: 0;
          }

          &:hover > .content {
            opacity: 1;
            transform: translateY(-40px);
          }

          > .image {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transform: translateY(-10px);
            > h2 {
              margin: 1rem 0 0 2rem;
              width: 15rem;
              display: flex;
              padding: 10px;
            }

            > img {
              border-radius: 10px;
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            }
          }

          .content {
            position: relative;
            width: 15rem;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;
            transform: translateY(-200px);
            opacity: 0;
            transition: 1s;
            // >h2{
            //     display: flex;
            //     padding:5px 10px;
            // }
            // >h3{

            //         display: flex;
            //         padding: 5px 10px;

            // }
            // >p{
            //     display: flex;
            //     padding: 5px 10px;

            // }
          }
        }
      }
    }
  }
}
@keyframes move {
  100% {
    background-position-y: center;
  }
}
